/* 
    Style Layouts für die Anwendung
*/

span.error {
    color: red;
}

#navbar {
    margin-bottom: 0px;
}

#thumbnailContainer {
    margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

#tabelle{
    
    color: red;
    
}