/* 
    Style Layouts für die Anwendung
*/

span.error {
    color: red;
}

h1 {
    
    font-family: Verdana;
    font-style: bold;
    margin-top: 0pt;
    margin-bottom: 0pt;
    
    
}

h2 {
    
    font-family: Verdana;
    font-style: normal;
    margin-top: 0pt;
    margin-bottom: 0pt;
    
   }
   
   #gff, table  
   
       {
      
      
       width: 700px;
       margin-left: auto;
       margin-right: auto;
       border-collapse: collapse;
      
      
             
       }
   #gff
      th,tr,td {
          
          border-width: 0px;
          border-style: solid;
          border-color: #BDBDBD;
          padding: 10px;
          
          
               }
   
               
   #gff td 
   
   {
       
    border-collapse: collapse;
    border-spacing: 2;
    amrgin: 2;
    padding: 2;
       
  
   }
   
   #gff th
   
   {
       
        border-width: 2px;
        border-style: solid;
        border-color: #BDBDBD;
       
       
   }
   
   
   
   
   
   
   
   
   